.search {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.3);
  background-color: white;
  padding-left: 25px;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.search:focus {
  outline: none;
  border: 1px solid #007bff;
}

.fa-search {
  position: relative;
  left: 22px;
}
